.grid { margin:1em auto; border-collapse:separate; border-spacing:5px; border-right: 2px solid; border-bottom: 2px solid;}
.grid th {
    text-align:center;	

	
	
}
.grid tr.innerborder {
	border-bottom: 2px solid;

}
.grid td {
    /*  cursor:pointer; */
    width:30px; height:30px;
    border:1px solid #DDD; 
    text-align:center;
    font-family:sans-serif;
	font-size: 13px;
}
.grid td.north {
	width: 30px; height: 5px;
	border:1px solid #DDD;
	font-size:0px;
}
.grid td.south {
	width: 30px; height: 5px;
	border:1px solid #DDD;
	font-size:0px;
}
.grid td.east {
	width: 5px; height: 30px;
	border:1px solid #DDD;
	font-size:0px;
}
.grid td.west {
	width: 5px; height: 30px;
	border:1px solid #DDD;
	font-size:0px;
}
.grid td.spacer {
	width: 5px; height: 5px;
	border:1px solid #DDD;
	font-size:0px;
}
.grid td.clicked {
    /* background-color:#999;  */
    font-weight:bold; color:red;
	font-size: 13px !important;
}
.grid td.wiggle {
	/*background-color:#DDD; */
	font-weight:bold; color:magenta;
	font-size: 13px !important;
}
.grid td.attacker {
	/*background-color:#999;*/
	font-weight:bold; color:blue;
}
.grid td.target {
	/*background-color:#999;*/
	font-weight:bold; color:green;
}
.grid td.hindering {
	background-color:#EAF1DD !important;
}
.grid td.elevated2 {
	background-color:#F2DDDC;
}
.grid td.elevated3 {
	background-color:#F2CCCB;
}
.grid td.elevated4 {
	background-color:#F2BBBA;
}
.grid td.elevated5 {
	background-color:#F2AAA0;
}
.grid td.elevated6 {
	background-color:#F29990;
}
.grid td.blocking {
	background-color:#DDD9C3 !important;
}
.grid td.water {
	background-color:#C5D9F1;
}
.grid td.indoorclear {
	background-color:#FFFFCC;
}
.grid td.special {
	background-color:#FDE9D9;
}
.grid td.start {
	background-color:#E5E0EC;
}
.grid td.borderstart{
	background-color: purple;
}
.grid td.borderwall {
	background-color:black;
}
.grid td.borderelevated {
	background-color: red;
}
.grid td.borderstair {
	background-color: red;
	border-color: black;
	/* 
	-webkit-animation: mymove 1s infinite; 
    animation: mymove 1s infinite;
	*/
}
.grid td.borderhindering {
	background-color: green;
}
.grid td.borderblocking {
	background-color: chocolate;
}
.grid td.borderspecial {
	background-color: orange;
}
.grid td.southspecialdash {
	border-bottom:2px dashed orange;
}
.grid td.northspecialdash {
	border-top:2px dashed orange; 
}
.grid td.eastspecialdash {
	border-right:2px dashed orange;
}
.grid td.westspecialdash {
	border-left:2px dashed orange;
}
.grid td.borderwater {
	background-color: blue;
}
.grid td.borderindoorclear {
	background-color: yellow;
}


.breakdown { margin:1em auto; border-collapse:collapse; border-spacing:0px; border: 1px solid}
.breakdown th {
    width:30px; height:30px;
    border:1px solid #000; 
    text-align:center;
    font-family:sans-serif; font-size:13px
}
.breakdown td {
    width:30px; height:30px;
    border:1px solid #000; 
    text-align:center;
    font-family:sans-serif; font-size:13px
}
.breakdown td.H {
	font-weight: bold; 
	color: green;
}
.breakdown td.B {
	font-weight: bold; 
	color: chocolate;
}
.breakdown td.L {
	font-weight: bold; 
	color: black;
}
.breakdown td.E {
	font-weight: bold; 
	color: red;
}
.breakdown td.W {
	font-weight: bold; 
	color: blue;
}
.breakdown td.S {
	font-weight: bold; 
	color: orange;
}
.breakdown td.I {
	font-weight: bold; 
	color: black;
	background-color: yellow;
}
.breakdown th.highlight {
	background-color: magenta;
}

div.footer {
	font-size: 10px;
	text-align: center;
}

@-webkit-keyframes mymove {
    50% {background-color: darkred;}
}